/* Palette from https://colorhunt.co/palette/125c133e7c17f4a442e8e1d9 */


:root {
    --header-bg: rgb(6, 70, 53);
    --light-bg: rgb(81, 146, 89);
    --light-green:  rgb(161, 209, 166);
    --colourful-color: rgb(240, 187, 98);
    --lightest-bg: rgb(244, 238, 169);
    --red: rgb(219, 10, 10);
}

body{
    background-color: var(--header-bg);
}

.logo {
    display: flex;
    align-items: center;
    gap: .1rem;
}

#imgDuerkos {
    width: 2rem;
    height: 2rem;
    align-items: center;
    border: 4px;
    border-style: solid;
    border-radius: 50%;
}

.header {
    display: flex;
    justify-content:space-around;
    flex-flow: row nowrap;
    height: 5rem;
    align-items: center;
    background-color: var(--header-bg);
    padding: 0.2rem;
}

.header img{
    max-height: 2rem;
    object-fit: cover;
    border-radius: 50%;
}

.header a{
    text-decoration: none;
    color: white;
    font-size:larger;
}
.backgroundDiv{
    background-color: var(--header-bg);
    display:flex;
 
    align-items: center;
    justify-content: center;
}
.panelDiv{
    display:flex;
    background-color: var(--lightest-bg);
    width: 80vh;
    height: 80vh;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    gap: 5vh;
}

.sketchGrid{
    display:flex;
    background-color: white;
    width: 60vh;
    height: 60vh;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.square {
    border-width:1px;
    border-style:solid;
    border-color: var(--header-bg);
}
.black {
    background-color: black;
}